body {
    background-color: rgb(24, 25, 27);
    font-family: Arial;
    color: rgb(19, 20, 24);
    box-sizing: border-box;
}

#app {
    transition: opacity 0.3s ease;

    &[v-cloak] {
        opacity: 0;
    }
}

h1 {
    color: #ccc;
}


// Pour des tests
// .coupons {
//     visibility: visible;
// }
.message h2 {
    color: rgb(179, 189, 238);
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 72%;


    &>div {
        background-color: rgb(126, 164, 177);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 172px;
        height: 60px;
        border: 1px solid #ccc;
        margin: 5px;
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
        transform: scale(1);
        transition: 0.25s;

        &:hover {
            background-color: rgb(147, 243, 203);
            border-color: rgb(35, 47, 51);
            transform: scale(1.035);
            box-shadow: 0px 0px 5px black;
        }

        .quantity {
            padding-top: 5px;
            color: rgb(37, 38, 43);
            height: 1em;
        }

        .remove {
            position: absolute;
            box-shadow: inset 0px 0px 3px black;
            top: 1px;
            right: 1px;
            padding: 0px 5px 2px 5px;
            background-color: rgba(60, 120, 231, 1);
            border-radius: 3px;
            font-weight: 700;

            &:hover {
                background-color: rgba(226, 66, 114, 1);
                box-shadow: inset 0px 0px 5px black;
                color: #fff;

            }
        }
    }
}

#cart-toggle-bt {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 100%;
    color: #fff;
    font-size: 22px;
    cursor: pointer;

    &:hover {
        background-color: rgb(39, 155, 109);
    }
}

#cart-panel {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 350px;
    height: 100vh;
    padding-top: 50px;
    background-color: #f5f5f5;
    border-left: 1px solid #DDD;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 10px #0002;

    &.open {
        transform: translateX(0%);
    }

    .close {
        position: absolute;
        text-align: center;
        top: 12px;
        left: 10px;
        background-color: rgb(118, 168, 229);
        border-radius: 5px;
        box-shadow: 0px 0px 5px black;
        font-size: 18px;
        cursor: pointer;
        width: 330px;
        height: 22px;

        &:hover {
            color: rgb(206, 239, 237);
            background-color: rgb(39, 155, 109);
            border-color: rgb(35, 47, 51);
            transform: scale(1.015);
            box-shadow: 0px 0px 5px black;
        }
    }

    h2 {
        text-align: center;
    }

    .items {
        .item {
            display: flex;
            justify-content: space-between;
            padding: 15px 15px;
            border-bottom: 1px solid #CCC;

            &:first-child {
                border-top: 1px solid #CCC;
            }

            &.total {
                font-weight: bold;
                border: none;
            }

            .remove {
                width: 20px;
                height: 20px;
                cursor: pointer;
                border: 1px solid rgb(84, 158, 228);
                border-radius: 50%;
                display: flex;
                font-size: 15px;
                justify-content: center;
                align-items: center;
                font-weight: 800;
                color: rgb(84, 228, 228);
                ;

                &:hover {
                    // background-color: rgb(84, 170, 228);
                    background-color: rgba(226, 66, 114, 1);
                    box-shadow: inset 0px 0px 5px black;
                    color: #fff;
                }
            }

            .name {
                width: 150px;
            }

            .quantity {

                input {
                    width: 30px;
                    text-align: center;
                    margin: 0px 5px;
                }
            }

            .price {
                width: 50px;
                font-weight: bold;
            }
        }
    }

    .vide {
        text-align: center;
        margin-top: 50px;
        color: #999;
    }

    .promos {
        margin: 20px 0px 20px 15px;

        input {
            width: 200px;
            // user-select: all;
        }

        .empty-promo-codes {
            text-align: center;
            color: rgb(0, 0, 0);
            cursor: pointer;
            user-select: none;

            background-color: rgb(118, 168, 229);
            border-radius: 5px;
            box-shadow: 0px 0px 5px black;
            cursor: pointer;
            width: 320px;
            height: 20px;

            &:hover {
                color: rgb(206, 239, 237);
                background-color: rgb(39, 155, 109);
                border-color: rgb(35, 47, 51);
                transform: scale(1.015);
                box-shadow: 0px 0px 5px black;
            }
        }
    }

    .empty-bt {
        background-color: rgb(84, 158, 228);
        border-radius: 50px;
        margin: 30px 70px 30px 70px;
        text-align: center;
        padding: 10px 0px;
        color: #fff;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: rgb(19, 70, 146);
        }
    }

    #paypal-bts {
        margin-top: 20px;
        padding: 15px;
    }
}