<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique DJ-DR4Y</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" v-cloak>
        <h1>Produits:</h1>
        <hr>
        <div class="products">
            <div v-for="product of products" @click="addToCart(product)">
                <div class="name">
                    {{ product.name }} ({{ product.price.toFixed(2) }}$)
                </div>
                <div class="quantity" v-if="isInCart(product)">
                    {{ cart[product.id].qty }}x
                </div>
                <div class="remove" v-show="isInCart(product)" @click.stop="removeFromCart(product)">x</div>
            </div>
        </div>
        <div id="cart-toggle-bt" @click="is_cart_open = true">🛒</div>
        <div id="cart-panel" :class="{ open: is_cart_open == true}">
            <h2>Panier</h2>
            <div class="empty-bt" @click="emptyCart()">
                Vider le panier
            </div>
            <hr>
            <div class="items">
                <div class="item" v-for="item of cart">
                    <div class="remove" @click="removeFromCart(item)">x</div>
                    <div class="name">{{ item.name }} ({{ item.price.toFixed(2) }}$)</div>
                    <div class="quantity"><input type="text" v-model.number="item.qty"
                            @change="checkEmptyCartItem(item)"></div>
                    <div class="price">{{ (item.price * item.qty).toFixed(2) }}$</div>
                </div>
                <div class="promos">
                    <form name="form_coupon" action="#js" method="POST">
                        <div><strong>Code promo </strong><input @keydown="keydownCoupon" type="text" name="text"
                                v-model="recherche"></div>
                        <!-- Pour faire des tests -->
                        <!-- <div class="coupons" v-for="promo in promos" @click="recherche = promo.code">Vos coupons:{{
                            promo.code }}
                        </div> -->
                    </form>
                    <p class="empty-promo-codes" @click="removePromoCart()">Supprimer les codes</p>
                    <div class="item code" v-show="this.current != null">
                        <div class="name">{{ current_type }}</div>
                        <div v-if="percent === false" class="price">- {{ current_value }}$ </div>
                        <div v-if="percent === true" class="price">-{{ percent_value }}%</div>
                    </div>
                </div>
                <hr>
                <div class="item total">
                    <div class="name">Total</div>
                    <div class="price">{{ (getCartTotal()).toFixed(2) }}$</div>
                </div>
            </div>
            <div id="paypal-bts" v-show="isCartEmpty() == false">
            </div>
            <div class="close" @click="is_cart_open = false">Fermer</div>
        </div>
    </div>
    <script
        src="https://www.paypal.com/sdk/js?client-id=Adz7B4ORd8t_1UiC5hWW1LwDDVto9APhiNQWwGeGCE97qDGUx9t5D1MctEhdoFlrg406yZWxfbE9LSvJ&enable-funding=venmo&currency=CAD"
        data-sdk-integration-source="button-factory"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/main.js"></script>
</body>

</html>